[Unit]
Description=IARC-10 Drone Flight
After=batman-mesh.service mavproxy-forward.service
Requires=batman-mesh.service mavproxy-forward.service

[Service]
Type=simple
WorkingDirectory=/home/mrrdt-1/IARC-10 # Make sure to edit this
ExecStartPre=/bin/bash -c 'until [ -e /dev/ttyS0 ]; do sleep 1; done'
ExecStart=/usr/local/bin/uv run run.py -i 1
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target